<div class="row">
  <div class="span6">
    <h2>Users</h2>

    <% @users.each do |user| %>
      <p><%=link_to user.name, user %></p>
    <% end %>
  </div>

  <div class="span6">
    <h2>Products</h2>

    <% @products.each do |product| %>
      <p><%= link_to product.name, product %></p>
    <% end %>

    <% if current_user %>
      <hr/>

      <p>
        <%= link_to "New Product", new_product_url %>
      </p>
    <% end %>
  </div>
</div>
